@media (max-width: 1280px) {
  body {
    padding: 0 60px;
  }
  main {
    min-width: 700px;
  }
  .skill-section .skill-section__describing {
    align-items: flex-start ;
  }
  .skill-section__describing .soft-skills__wrapper .soft-skill {
    flex-wrap: wrap;
    justify-content: center;
  }
  .experience-section__block {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  section h2 {
    font-size: 26px;
  }
  .intro-section article div p {
    font-size: 14px;
  }
  .intro-section article div {
    max-width: 35vw;
  }
  .intro-section article .avatar {
    align-items: center;
  }
  .intro-section article .avatar img {
    margin-left: 30px;
    height: 220px;
  }
  .experience-section__block {
    flex-direction: column;
  }
  .experience-section__block h4 {
    font-size: 22px;
  }
  .experience-section__block img {
    height: 100px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  main {
    min-width: 100vw;
    margin: 0 !important;
  }
  main aside.intro-section__contacts {
    display: none;
  }
  main .avatar .contact-icons {
    display: inline-block;
  }
  main .avatar .contact-icons img {
    width: 30px;
    height: 30px;
  }
  main .avatar .contact-icons a {
    visibility: visible;
    transition: none;
    margin-left: 12px;
  }
  main .intro-section .intro-article {
    flex-direction: column-reverse;
  }
  main .intro-section .intro-article div {
    max-width: 100%;
  }
  main .intro-section .intro-article .avatar {
    margin-bottom: 20px;
    gap: 50px;
  }
  main .intro-section .intro-article .avatar img {
    margin-left: 0;
  }
  main .skill-section .skill-section__describing{
    align-items: center;
    flex-direction: column-reverse;
  }
  main .skill-section .soft-skills__wrapper {
    width: 100%;
    align-items: center;
  }
  main .skill-section .soft-skills__wrapper .soft-skill {
    align-items: center;
    width: 100%;
    height: 320px;
  }
  main .skill-section .soft-skills__wrapper .soft-skill h2 {
    width: 100%;
    align-self: center;
  }
  .experience-section__block h4 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  main .skill-section .soft-skills__wrapper .soft-skill {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  main .header__info h2 {
    font-size: 16px;
  }
  main .experience-section__block h4 {
    font-size: 16px;
  }
  main .header__info {
    align-items: center;
  }
  main .intro-section .intro-article .avatar {
    gap: 0;
  }
  main .intro-section .intro-article .avatar img {
    height: 160px;
    margin-left: 12px;
  }
  main .intro-section .intro-article .avatar .contact-icons img {
    height: 20px;
    width: 20px;
  }
  main .skill-section .soft-skills__wrapper .soft-skill {
    gap: 20px;
  }
}
